*{
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    background-color: #F2EDDC;
}

h1 {
    color: #032859;
}

h3 {
    color: #FE6A2C;
}

a {
    text-decoration: none;
    color: inherit;
    font-weight: 0.9em;
}