*{
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    background-color: #F2EDDC;
}

h1 {
    color: #032859;
}

h3 {
    color: #FE6A2C;
}

a {
    text-decoration: none;
    color: inherit;
    font-size: 1em;
    font-weight: bold;
}

.tecmundo {
    color: #297ae4;
}

.tudocelular {
    color: #A6EB17;
}

.nasa {
    color: #f7280c;
}